@let loading = isLoading$(); @let error = feedError$(); @let data = feedData$();

<div class="container">
  @if (loading) { <mc-loading /> } @if (error) { <mc-error-message /> } @if(data
  && data.articlesCount > 0) { @for(article of data.articles; track
  article.title ) {
  <div class="article-preview">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" alt="User" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">Add To Favorites</div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <mc-tag-list [tagProps]="article.tagList" />
      <span>Read more...</span>
    </a>
  </div>
  } } @else { There are no articles yet }
  <mc-pagination
    [totalProps]="data.articlesCount"
    [limitProps]="itemsPerPage"
    [urlProps]="baseUrl"
    [currentPageProps]="currentPage"
  />
</div>
