@let loading = isLoading$(); @let error = feedError$();
<!-- @let data = feedData$(); -->

<div class="container">
  @if (loading) { <mc-loading /> } @if (error) { <mc-error-message /> }
  @if(mockedArticles) {
  <h1>Articles Count: {{ mockedArticles.articlesCount }}</h1>
  @for(article of mockedArticles.articles; track article.title ) {
  <div class="article-preview">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" alt="User" />
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <div class="pull-xs-right">Add To Favorites</div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
    </a>
  </div>
  } } PAGINATION
</div>
